{% extends "task_managers/base.html" %}

{% block header %}
    <div class="text-center mb-4">
        <h2 class="fw-bold">Organize suas tarefas, aumente sua produtividade</h2>
        <h4 class="text-muted">Crie projetos, defina prazos e acompanhe o progresso em um só lugar</h3>
    </div>
{% endblock header %}

{%block content%}
    <div class="row align-items-center justify-content-center gy-4">

    <div class="col-12 col-md-6">
        <ul class="list-group list-group-flush fs-5">
            <li class="list-group-item"> 
                <span class="material-icons">done</span>
                Crie e gerencie projetos
            </li>
            <li class="list-group-item">
                <span class="material-icons">calendar_month</span>
                Defina prazos e acompanhe o progresso
            </li>
            <li class="list-group-item">
                <span class="material-icons">diversity_3</span>
                Trabalhe em equipe
            </li>
            <li class="list-group-item">
                <span class="material-icons">analytics</span>
                Visualize tarefas concluídas
            </li>
        </ul>
    </div>
        <div class="col-md-2">
            {% if user.is_authenticated %}
                <div class="d-grid gap-2">
                    <a href="{% url 'projects' %}" class="btn btn-primary btn-lg">Projetos</a>
                </div>
            {% else %}
                    <div class="d-grid gap-2">
                    <a href="{% url 'register' %}" class="btn btn-primary btn-lg">Registrar</a>
                    <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Entrar</a>
                </div>
            {% endif %}    
        </div>
    </div>

{% endblock%}