{% extends "task_managers/base.html" %}
{% load django_bootstrap5 %}

{% block header %}
<h1 class="fw-bold text-center">
    <a href="{% url 'projects' %}"
    class="link-offset-2 link-underline link-underline-opacity-0"
    >Convites pendentes</a>
</h1>
<h3 class="fw-bold text-center">Participe ou não de outros projetos!</h3>
{% endblock header %}

{%block content%}
    {% if invites %}
    <ul>
        {% for inv in invites %}
         <li>
             <h4>
                 Você aceita o convite para o projeto {{inv.project}}? <br>
                 Feito pelo {{inv.inviter}}.
             </h4>
             <form action="{% url 'invites_accept' inv.pk %}" method="post">
                {% csrf_token %}
                    <button type="submit">Aceitar</button>
             </form>
             <form action="{% url 'invites_reject' inv.pk %}" method="post">
                {% csrf_token %}
                    <button type="submit">Rejeitar</button>
             </form>
            </li>
    {% endfor %}    
    </ul>
    {% else %}
        <p class="text-center m-5">Você não tem convites pendentes!</p>
    {% endif %}
{% endblock%}