{% extends "task_managers/base.html" %}
{% load django_bootstrap5 %}

{% block header %}
<h1 class="fw-bold text-center">
    <a href="{% url 'participants' project.id %}"
    class="link-offset-2 link-underline link-underline-opacity-0"
    >Convidar participante</a>
</h1>
<h3 class="fw-bold text-center">Convide pessoas para participar do seu projeto com você!!</h3>
{% endblock header %}

{%block content%}
    <form action="{% url 'invite' project.id%}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Criar</button>
    </form>
{% endblock%}