{% extends "task_managers/base.html" %}

{% block header %}
  <h1 class="fw-bold text-center">{{ project }}</h1>
  <div class="d-flex justify-content-between">
    {% if project.deadline %}
    <h3>{{ project.deadline }}</h3>
    {% endif %}
    <h3>{{ project.owner}}</h3>
  </div>

  <div class="d-flex justify-content-between mb-4">
  <!-- Botões de edição -->
  <div class="text-left mb-4">
    <a href="{% url 'new_list' project.id %}" class="btn btn-outline-success">Nova lista</a>
    
    {% if request.user == project.owner %}
    
    <a href="{% url 'edit_project' project.id %}" class="btn btn-outline-primary">Editar o projeto</a>

    <a href="{% url 'participants' project.id %}" class="btn btn-outline-secondary">participantes</a>
    
    {% endif %}
  </div>

<!-- Visualizar participantes do projeto atraves de um modal -->
{% if request.user != project.owner %}
  <div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#participantes">
      
      <div class="d-flex justify-content-center align-items-center align-middle"> 
        <span class="material-symbols-outlined">
          groups
        </span>
        <span class="material-symbols-outlined" >arrow_right</span>
        <span>{{project.project_members.count}}</span>
      </div>

    </button>
  </div> 
</div> 

  <div class="modal" id="participantes" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Participantes do projeto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">         
            {% for member in project.project_members.all %}
                <div class="d-flex gap-3">
                  <div>{{member.participants.username}}</div> ->
                  {% if member.participants == project.owner %}
                  <div>Dono do projeto</div>
                  {% elif can_edit %}
                  <div>Participante do projeto</div>
                  {% else %}
                  <div>Visualizador do projeto</div>
                  {% endif %}
                </div>             
            {% empty %}
             
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock header%}

{% block content %}
<!-- Listas -->
<div class="row row-cols-1 row-cols-md-2 g-3">
  {% for l in lists %}
    <div class="col">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">

          <div class="d-flex justify-content-between align-items-start gap-2">
            <h2 class="m-0">{{ l.title }}</h2>
            <!--botões-->
            <div class="d-flex gap-2 flex-shrink-0">
              <a href="{% url 'new_task' l.id %}" class="btn btn-outline-success">adicionar tarefa</a>
              <a href="{% url 'edit_list' l.id %}" class="btn btn-outline-primary">Editar</a>
              <form action="{% url 'delete_list' project.id l.id %}" method="post" class="m-0">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Deletar</button>
              </form>
            </div>
          </div>

          <!--Prazo da lista-->
          {% if l.deadline %}
            <p class="card-text fw-semibold mb-2"><span>{{ l.deadline }}</span></p>
          {% else %}
            <p class="card-text fw-semibold mb-2"><span>Lista sem prazo definido</span></p>
          {% endif %}


          <!--Status da lista-->
          <p class="card-text mb-3">
            {% if l.get_status_display == "A fazer" %}
              <span class="badge bg-warning text-dark fs-6">{{ l.get_status_display }}</span>
            {% elif l.get_status_display == "Fazendo" %}
              <span class="badge bg-primary fs-6">{{ l.get_status_display }}</span>
            {% else %}
              <span class="badge bg-success fs-6">{{ l.get_status_display }}</span>
            {% endif %}
          </p>

          
<!--Tarefas-->
          <div class="row g-3">
            {% for task in l.tasks.all %}
              <div class="col-12">
                <div class="card">
                  <div class="d-flex justify-content-between align-items-start p-3">                   
                    <!-- Info das tarefas -->
                    <div class="d-flex flex-column gap-2">

                      <!-- Nome da tarefa -->                    
                    
                      <a href="{% url 'task' project.id task.id %}"
                          class="link-offset-2 link-underline link-underline-opacity-0">
                        {{ task }}
                      </a>
                      
                      <!-- Prazo da tarefa -->
                      {% if task.deadline %}
                        <p class="card-text fw-semibold mb-0">{{ task.deadline }}</p>
                      {% else %}
                        <p class="card-text fw-semibold mb-0">Sem prazo definido</p>
                      {% endif %}
                    
                      <!-- Responsável da tarefa -->

                      <div class="w-70">
                        {% if task.assigned %}
                        <span class="badge bg-primary fs-6">{{task.assigned}}</span>
                        {% else %}
                        <span class="badge bg-primary fs-6">Sem responsável definido</span>
                        {% endif %}
                      </div>
                    </div>   

                    <!-- botões da tarefa -->
                    <div class="d-flex gap-2">
                      <a href="{% url 'edit_task' task.list.id task.id  %}" class="btn btn-outline-primary">Editar</a>
                      <form action="{% url 'delete_task' project.id task.id %}" method="post" class="m-0">
                        {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Deletar</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {% empty %}
              <div class="col-12">
                <p class="fw-bold fs-6 text-center text-uppercase mb-0">Não há nenhuma tarefa criada</p>
              </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  {% empty %}
    <div class="col-12">
      <p class="fw-bold fs-5 text-center text-uppercase">Não há nenhuma lista de tarefas criada</p>
    </div>
  {% endfor %}
</div>
{% endblock %}
