{% extends "task_managers/base.html" %}

{% block header %}
<h1 class="fw-bold text-center">
    <a href="{% url 'project' project.id %}"
    class="link-offset-2 link-underline link-underline-opacity-0"
    >Participantes</a>
</h1>
<h3 class="fw-bold text-center">Convide ou remova participantes do seu projeto</h3>
<div class="mb-4">
    <a href="{% url 'invite' project.id %}" class="btn btn-outline-secondary">Convidar participante</a>
</div>
{% endblock header %}

{% block content%}

    {% if project_participants %}
     <div class="row g-3">
        {% for p in project_participants %}
            {% if p.participants != project.owner%}
            <div class="col-md-4 d-flex">
                <div class="card flex-fill">
                    <div class="card-body d-flex flex-column">
                    <!-- Nome do participante -->
                     <h4 class="card-title fs-3">
                        <div class="d-flex justify-content-center align-items-center">
                         <span> 
                            {{p}}
                         </span>
                        </div>
                     </h4>
                     <!-- Infos do participante -->
                     <div class="d-flex flex-column card-text mb-3">
                        
                         <p class="card-text fw-semibold mb-2">
                            Aceito: {{p.accepted_at | date:"d/m/Y H:i" }}
                         </p>
                         <div class="w-70">
                            <span class="badge bg-primary fs-6 w-1">{{ p.role }}</span>
                        </div>
                     </div>

                     <!-- Remover participante -->
                    <div class="d-flex justify-content-end">
                         <button type="submit" class="btn btn-danger" 
                         data-bs-toggle="modal" data-bs-target="#confirmação">
                         remover
                         </button>
                    </div>
                    </div>
                </div>

            </div>
            <!-- Modal de confirmação para remover--> 
            <div>
                <div class="modal" id="confirmação" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title">Confirme</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">         
                            
                                <div class="d-flex flex-column gap-3">
                                <p>Voce tem certeza que deseja remover <strong>{{ p }}</strong> do projeto? </p>
                                </div>             

                        </ul>
                        </div>
                        <div class="modal-footer">
                        <form 
                        action="{% url 'remove_participants' project.id p.id %}" 
                        method="post"
                        >
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">
                            remover
                            </button>
                        </form>   
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
                </div>                       
            </div>
            {% endif %}
        {% endfor %}
    
    {% else %}
        <h3>não há outros participantes</h3>
    {% endif %}
    </div>
{% endblock content%}