{% extends "task_managers/base.html" %}
{% block content %}
<h1 class="fw-bold text-center">
    <a href="{% url 'project' task.list.project.id %}"
    class="link-offset-2 link-underline link-underline-opacity-0"
    >
    {{task.list.project}}
    </a>
</h1>
<h3 class="fw-bold text-center"></h3>

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="d-flex justify-content-between align-items-start p-3">
            <h2>
                <a href="{% url 'project' task.list.project.id %}"
                class="link-offset-2 link-underline link-underline-opacity-0"
                >
                {{task}}
                </a>
            </h2>
            <div class="d-flex gap-2">
                    <a href="{% url 'edit_task' task.list.id task.id  %}" class="btn btn-outline-primary">Editar</a>
                    <form action="{% url 'delete_task' task.list.project.id task.id %}" method="post" class="m-0">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Deletar</button>
                    </form>
            </div>
            <p class="card-text">
                {% if task.get_status_display == "A fazer" %}
                    <span class="badge bg-warning text-dark fs-6">{{ task.get_status_display }}</span>
                {% elif task.get_status_display == "Fazendo" %}
                    <span class="badge bg-primary fs-6">{{ task.get_status_display }}</span>
                {% else %}
                    <span class="badge bg-success fs-6">{{ task.get_status_display }}</span>
                {% endif %}
            </p>
        </div>
        
        <p class="text-break">Descrição: {{task.description}}</p>
    </div>
</div>

{% endblock %}